{% extends "base.html" %}

{% block content %}

    <div class="container h-50 grid mx-auto px-10 grid-cols-2 content-center">
      <div>
        Test will start as soon as you press the start button. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.  
      </div>
      <div class="mx-auto">
        <a href="/test/1" class="bg-red-700 hover:bg-red-500 text-white font-bold py-2 px-4 mx-auto rounded-full">
            Start Test
        </a>
      </div>
    </div>
   
    
      
{% endblock %}